@model U3.Areas.Admin.Models.AdminPromocionesViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutAdmin";
}
<form action="~/Admin/Menu/AgregarPromocion" method="post" enctype="multipart/form-data">
    <h1>Agregar un descuento de promoción</h1>

    <input type="hidden" asp-for="Id" />

    <span>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required asp-for="Nombre" readonly>
    </span>
    <span>
        <label for="precio">Precio real:</label>
        <input type="text" id="precio" required asp-for="Precio" readonly>
    </span>
    <span>
        <label for="promocion">Precio promoción:</label>
        <input type="text" id="promocion" required asp-for="Promocion">
    </span>
    <span class="error">@Html.ValidationSummary(true)</span>
    <div class="botones">
        <input type="submit" value="Agregar" />
        <a href="~/Admin/Menu">
            <input type="button" value="Cancelar" />
        </a>
    </div>
</form>

